.box 
{
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
}
.BookInfo
{
    width:50%;
    box-sizing: border-box;
    background-color: aliceblue;
    border: 2px solid black;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
